# MongoDB Connection String
# Get this from your MongoDB Atlas dashboard (https://cloud.mongodb.com)
# Example: mongodb+srv://[user]:[password]@cluster0.xxxxx.mongodb.net/crickdb?retryWrites=true&w=majority
MONGO_URI=mongodb+srv://sahantharuka20033_db_user:<password>@cluster0.kb1km3y.mongodb.net/crickdb?retryWrites=true&w=majority&appName=Cluster0
PORT=3000
